include ./mixins/index
extends ../layout

block footer
    script.
        require(["/js/pages/templates/home.js"]);

block content
    .visible-lg LG
    .visible-md MD
    .visible-sm SM
    .visible-xs XS

    .body-wrapper
        .centered
            .set-panel
                .help-toggler
                    .toggler
                        img(src="/img/help.png")
                | Notify me
                .set-panel__item
                    mixin after-at()
                .set-panel__item.set-panel__time 15m 00s
                .toggler.play-toggler
                    img(src="/img/play.png")
                .toggler.cycle-toggler
                    img(src="/img/cycled.png")
        .helper