extends layout

block title
    | Set your timer

block head
    link(rel="stylesheet" href="/css/home-template.css")

block content
    .body-wrapper
        .centered
            .container
                .row
                    .col-md-4.col-sm-6.red-border norm 1
                    .col-md-4.col-sm-6.green-border norm 2
        .helper





