doctype html
html
  head
    title
      block title
        | Notify me

    link(rel="stylesheet" href="/css/main.css")
    script(src="/js/bower/requirejs/require.js")
    script.
        require(["/js/require.js"], function(){
          console.log("RequireJS is loaded");
          require(["pages/test"]);
        });
    block head

  body
    block content